aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
aws.batch.fetchInstanceType = true

process {
    container = 'quay.io/lifebitai/ubuntu:18.10'
    executor = 'awsbatch'
    cpus = 1
}

params {
    s3_location = "s3://lifebit-featured-datasets/IGV"
    file_suffix =  "cram"
    index_suffix = "crai"
    output_file = "design.csv"
    stage_files = false
}
