docker.enabled = true

params {
    s3_location = "s3://lifebit-featured-datasets/IGV"
    file_suffix =  "cram"
    index_suffix = "crai"
    output_file = "design.csv"
    stage_files = false
    keep_missing = true
    executor = 'ignite'
    queueSize = 200
    echo = false
    cpus = 1
    maxForks = 200
    maxRetries = 5
    container = 'quay.io/lifebitai/ubuntu:18.10'
    errorStrategy = "ignore"
    }

process {
    echo = params.echo
    cpus = params.cpus
    maxForks = params.maxForks
    maxRetries = params.maxRetries
    container = params.container
    errorStrategy = { task.attempt <= params.maxRetries  ? "retry" : params.errorStrategy }
    }

executor {
    name = params.executor
    queueSize = params.queueSize
    }
